.tabs {
	margin-block: 2rem;

	[role='tablist'] {
		display: flex;
		padding: 0;
		margin: 0;
	}

	[role='presentation'] {
		list-style: none;
		min-width: 8rem;
		border-style: solid none none solid;
		border-width: 1px;
		background-color: hsl(0 0% 0% / 0.05);

		position: relative;

		&:last-child {
			border-right-style: solid;
		}

		[role='tab'] {
			display: block;
			padding: 0.5rem 1rem;
			text-decoration: none;

			&:hover {
				background-color: hsl(0 0% 0% / 0.1);
			}
		}

		&:has([aria-selected='true']) {
			background-color: transparent;

			&::before {
				content: '';
				display: block;
				position: absolute;
				inset-inline: 0;
				bottom: -1px;
				height: 1px;
				background-color: white;
			}
		}
	}

	.panels {
		border-width: 1px;
		border-style: solid;

		padding: 0.5rem 1rem;
	}

	.panel {
		padding: 0.5rem 1rem;
	}
}
